* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background gradient */
    color: white;
    font-family: 'Work Sans', sans-serif;
    background-image: linear-gradient(180deg,rgb(40,47,182,1), rgb(11, 99, 240));
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
/* ------------------------------------------------ */
.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 95%;
}

.heading {
    display: flex;
    width: 100%;
    font-size: 36px;
    margin-left: 20px;
    padding: 2%;
}

.formContainer {
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, .5);
    border: 1px rgba(0, 0, 0, 0.34);
    border-radius: 25px;
    padding: 0px 2em;
    margin: 0;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    float: right;
    position: relative;
}
button:hover {
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
    border: 1px solid white;
}
.searchBtn {
    background-color: #066bed;
    border-radius: 15px;
    padding: .5%;
    color: white;
    border: none;
}   
/* today conatiner -------------------*/
.today {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.cityDate {

}

.location {
    margin-right: 2%;
}

.temperature {

}

.tempFormatBtn {

}
/* C & F buttons */
.celsius, .fahrenheit  {
    background-color: #066bed;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
}

.description {

}
/* ----------------------------------- */
/* 5 day forecast */
h2 { 
    font-size: 20%;
}
/* -------------------------5 day forecast-------------------- */
h3 {
    font-size: 32px;
    margin-left: 20px;
}

.forecast {
    display: flex;
    flex-direction: column;

}

#futureTemp5 {
    margin-bottom: 20px;
    margin-left: 20px;
    background: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    text-align: center;
}
.futureTemp {
    margin-bottom: 20px;
    margin-left: 20px;
    background: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 20px;
    width: 25%;
    text-align: center;
    flex: column; 
}