* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: wrap;
}

body {
    /* background gradient */
    /* color: white; */
    /* font-family: 'roboto', sans-serif; */
    background-image: linear-gradient(180deg,rgb(16, 112, 236), rgb(255, 255, 255));
    /* background-size: cover; */
    background-attachment: fixed;
    /* -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;   */
    /* height: 100vh; */
}
/* ------------------------------------------------ */
.container-fluid {
    margin: 10%, 10%;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.h1 {
    font-size: 300%;
    padding: 2%;
    justify-content: center;
    color: ivory;
   }
.jumbotron {
    background-color: rgba(151, 150, 150, 0.5);
}
/* -------------------------------------------------- */
input {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: .5%;
    border: none;
    color: white;
    filter: drop-shadow(10px 10px 10px rgba(101, 106, 118));
    
}
button:hover {
    /* border-radius: 15px; */
    /* padding: 10px; */
    color: white;
    transition: all 0.25s ease;
    /* border: none; */
    /* border: 2px solid rgb(159, 196, 255); */
}
.btn {
    /* background-color: #d66137; */
    border-radius: 15px;
    /* padding: 1%; */
    color: white;
    border: none;
    /* margin-left: 5px; */
}   
/* today conatiner -----------------------------------*/
.col {
    /* flex-direction: column; */
    /* background: rgba(255, 255, 255, 0.5); */
    /* border-radius: 5px; */
    padding: 2em;
    /* max-width: 420px; */
    /* margin: 1em; */
    /* margin-bottom: 20px;  */
    /* filter: drop-shadow(10px 10px 10px rgba(1, 3, 85, 0.481)); */
}
.col.pending {
    visibility: hidden;

}
.col.pending:after {
    visibility: visible;
    content: "Searching...";
    color: white;
}

/* .location {
    margin-right: 2%;
    font-size: 150%;
}

.temperature {
    font-size: 4em;
    margin-bottom: .25em;
}

.date, .description, .humidity, .windSpeed {
    color:rgb(159, 196, 255);
    font-style: italic;
}

.tempFormatBtn {
    display: flex;
    position: relative;
    padding: 2%;
} */
/* can't figure this one out */
/* C & F buttons */
.celsius, .fahrenheit  {
    background-color: #066bed;
    border-radius: 15px;
    padding: 15px;
    color: white;
    border: none;
    float: right;
    margin-right: 5px;
}

/* ----------------------------------------------------- */
/* 5 day forecast */
/* .forecast {
   
} */
#futureTemp5 {
   display: flex;
   flex-direction: row;
    
}
.day1, .day2, .day3, .day4, .day5 {
    margin-bottom: 20px;
    margin: 20px 20px 20px 20px;
    background: rgba(6, 9, 87, 0.5);
    border-radius: 15px;
    padding: 40px;
    width: 30%;
    text-align: center;
    align-items: center;
    filter: drop-shadow(10px 10px 10px rgba(1, 3, 85, 0.481));
}


@media screen and (max-width: 992px) {
    /* * {
        width: 95%;
        
    } */
}

@media screen and (max-width: 600px) {
    * {
        margin: 0px;
        
    }
        
    .heading {
        font-size: 1.2em;
        margin: 0;
        padding: 1em;
    }
    #searchForm {
        align-items: center;
    }
    .searchBtn {
        margin-left: 2%;
    }
    .icon {
       width: 40%;
    }
    /* button {
        width: 35%;
        display: flex;
        justify-content: center;
        margin: .5em;
        padding: 1em; 
        float: inline-end;
    } */
    input {
        justify-content: space-evenly;
    }
    
    .day1, .day2, .day3, .day4, .day5 {
        padding: 5%;
        position: relative;
        justify-content: space-between;
       
    }

}